// Menü-Button-Konfiguration
.menu-btn {
  //Wir wollen klar festlegen, wo das Menü platziert ist
  position: absolute;
  //Mit dem Z-Index legen wir es weit in den Vordergrund
  z-index: 3;
  //Orientierung X Pixel von rechts und oben -> Rechte obere Ecke
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    //Festlegung für jede einzelne Line
    width: 28px;
    height: 3px;
    // margin: oben rechts unten links
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut;
  }

  // Rotate Into X With Menu Lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }
      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

// Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &.show {
    //Bei Klick auf das Hamburger Menü wird das Menü sichtbar
    visibility: visible;
  }

  // Betrifft die beiden Klassen Branding & Nav
  &-branding,
  &-nav {
    display: flex; //Liste steht übereinander nicht nebeneinander
    flex-flow: column wrap;
    align-items: center; // zentriert es mittig
    justify-content: center;
    float: left;
    width: 50%; // Wir wollen 50% Breite, da wir zwei Menüseiten haben
    height: 100vh; //100 von 100, also volle Höhe
    overflow: hidden;
  }

  //Hier werden dann die einzelheiten für die Nav-Seite festgelegt
  &-nav {
    margin: 0;
    padding: 0;
    background: rgba(
      darken($primary-color, 5),
      0.9
    ); // fügt den Primary-Hintergrund in dunkler ein mit Faktor 5
    list-style: none; //entfernt die Bulletpoints der liste
    transform: translate3d(
      0,
      -100%,
      0
    ); //die negativen hundert geben an, dass es von oben nach unten kommt
    @include easeOut;

    &.show {
      //Slide in from Top
      transform: translate3d(0, 0, 0);
    }
  }

  // Branding Side - Hier werden die Einzelheiten für die branding Seite angegeben
  &-branding {
    background: rgba($primary-color, 0.9);
    @include easeOut;
    transform: translate3d(
      0,
      100%,
      0
    ); //die positiven hundert geben an, dass es von unten nach oben kommt

    &.show {
      //Slide in from bottom
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background-size: cover;
      background: url("/dist/img/potrait.jpg");
      border-radius: 50%; // macht es zu einem kreis
      border: solid 3px $secondary-color; //Randlinie in Sekundärfarbe
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      //Slide in from right
      transform: translate3d(0, 0, 0);
    }

    //Legt fest, dass die aktuelle Seite im Menü farbig markiert ist, setzt vorraus dass in der HTML sie als current gekennzeichnet ist
    &.current > a {
      color: $secondary-color;
    }
  }

  // Design für die Schrift im Nav-Bereich
  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    @include easeOut;

    //Hover in der Nav.bereich
    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
